* {
    font-family: Helvetica Neue;
}

.divForm {
    display: flex;
    flex-direction: column;
}

.divForm label {
    margin-top: 18px;
}

.divRadio {
    margin-top: 10px;
}

.divRadio label {    
    margin-left: 8px;
}

.divRadio input {
    margin-left: 16px;
}

.btn{
    text-align: center;
    margin-top: 16px;
}