.divCx {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.txtTop {
    display: flex;
    justify-content: center;
}

.divBtnMais {
    display: flex;
    justify-content: center;    
}

.btnMais {
    border: 1px solid #707070;
}

.txtBottom {
    display: flex;
    justify-content: center;
    color: #888888;
}

.divComp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divComp h5 {
    color: #888888;
}

.caixa {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}

.divNome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
}

.divNome input {
    border: 1px solid #707070;
    height: 30px;
    width: 340px;
}

.divEmail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.divEmail input {
    border: 1px solid #707070;
    height: 30px;
    width: 340px;
}